.f0-1 {
    font-size: false;
    font-size: clamp(10px,10.5555555556rem,300px)
}

.f0,.f0-1 {
    line-height: .85;
    letter-spacing: 0
}

.f0 {
    font-size: false;
    font-size: clamp(10px,8.3333333333rem,300px)
}

.f1-2 {
    font-size: false;
    font-size: clamp(10px,6.1111111111rem,300px);
    line-height: .8
}

.f1-1,.f1-2 {
    letter-spacing: -.02em
}

.f1-1 {
    font-size: false;
    font-size: clamp(10px,5.5555555556rem,300px)
}

.f1-1,.f1-3 {
    line-height: .85
}

.f1-3 {
    font-size: false;
    font-size: clamp(10px,5rem,300px);
    letter-spacing: 0
}

.f1 {
    line-height: .93;
    letter-spacing: .02em
}

.f1,.f1-custom {
    font-size: false;
    font-size: clamp(10px,4rem,300px)
}

.f1-custom,.f1-custom-2 {
    line-height: .85;
    letter-spacing: 0
}

.f1-custom-2 {
    font-size: false;
    font-size: clamp(10px,3.7777777778rem,300px)
}

.f2 {
    font-size: false;
    font-size: clamp(10px,3.5555555556rem,300px);
    letter-spacing: .02em
}

.f2,.f2-1 {
    line-height: .93
}

.f2-1 {
    font-size: false;
    font-size: clamp(10px,3.3333333333rem,300px)
}

.f2-1,.f2-1-1 {
    letter-spacing: -.02em
}

.f2-1-1 {
    font-size: false;
    font-size: clamp(10px,3.2222222222rem,300px);
    line-height: .93
}

.f2-2-1 {
    font-size: false;
    font-size: clamp(10px,3rem,300px)
}

.f2-2-1,.f2-2-2 {
    line-height: .85;
    letter-spacing: 0
}

.f2-2-2 {
    font-size: false;
    font-size: clamp(10px,2.7777777778rem,300px)
}

.f2-2 {
    font-size: false;
    font-size: clamp(10px,2.3888888889rem,300px);
    line-height: .85;
    letter-spacing: .005em
}

.f3 {
    font-size: false;
    font-size: clamp(10px,2.2222222222rem,300px);
    line-height: .93
}

.f3,.f3-2 {
    letter-spacing: -.02em
}

.f3-2 {
    font-size: false;
    font-size: clamp(10px,2rem,300px);
    line-height: .85
}

.f3-4 {
    font-size: false;
    font-size: clamp(10px,1.7777777778rem,300px)
}

.f3-3,.f3-4 {
    line-height: .85;
    letter-spacing: 0
}

.f3-3 {
    font-size: false;
    font-size: clamp(10px,1.6666666667rem,300px)
}

.f4 {
    font-size: false;
    font-size: clamp(10px,1.3333333333rem,300px)
}

.f4,.f5 {
    line-height: .93;
    letter-spacing: .02em
}

.f5 {
    font-size: false;
    font-size: clamp(20px,1.1111111111rem,24px)
}

.f6 {
    line-height: .93;
    letter-spacing: .02em
}

.f6,.f6-2 {
    font-size: false;
    font-size: clamp(10px,.8888888889rem,300px)
}

.f6-2 {
    line-height: 1.2;
    letter-spacing: 0
}

.f7 {
    font-size: false;
    font-size: clamp(10px,.7777777778rem,300px);
    line-height: .93;
    letter-spacing: -.02em
}

.f8 {
    letter-spacing: .02em
}

.f8,.f8-1 {
    font-size: false;
    font-size: clamp(12px,.6666666667rem,16px);
    line-height: .93
}

.f8-1 {
    letter-spacing: -.02em
}

.f9 {
    font-size: false;
    font-size: clamp(12px,.8751400224rem,500px);
    line-height: .98;
    letter-spacing: -.025em
}
.f0-1-xs {
    font-size: false;
    font-size: clamp(10px,10.5555555556rem,300px)!important
}

.f0-1-xs,.f0-xs {
    line-height: .85!important;
    letter-spacing: 0!important
}

.f0-xs {
    font-size: false;
    font-size: clamp(10px,8.3333333333rem,300px)!important
}

.f1-2-xs {
    font-size: false;
    font-size: clamp(10px,6.1111111111rem,300px)!important;
    line-height: .8!important
}

.f1-1-xs,.f1-2-xs {
    letter-spacing: -.02em!important
}

.f1-1-xs {
    font-size: false;
    font-size: clamp(10px,5.5555555556rem,300px)!important
}

.f1-1-xs,.f1-3-xs {
    line-height: .85!important
}

.f1-3-xs {
    font-size: false;
    font-size: clamp(10px,5rem,300px)!important;
    letter-spacing: 0!important
}

.f1-xs {
    line-height: .93!important;
    letter-spacing: .02em!important
}

.f1-custom-xs,.f1-xs {
    font-size: false;
    font-size: clamp(10px,4rem,300px)!important
}

.f1-custom-2-xs,.f1-custom-xs {
    line-height: .85!important;
    letter-spacing: 0!important
}

.f1-custom-2-xs {
    font-size: false;
    font-size: clamp(10px,3.7777777778rem,300px)!important
}

.f2-xs {
    font-size: false;
    font-size: clamp(10px,3.5555555556rem,300px)!important;
    letter-spacing: .02em!important
}

.f2-1-xs,.f2-xs {
    line-height: .93!important
}

.f2-1-xs {
    font-size: false;
    font-size: clamp(10px,3.3333333333rem,300px)!important
}

.f2-1-1-xs,.f2-1-xs {
    letter-spacing: -.02em!important
}

.f2-1-1-xs {
    font-size: false;
    font-size: clamp(10px,3.2222222222rem,300px)!important;
    line-height: .93!important
}

.f2-2-1-xs {
    font-size: false;
    font-size: clamp(10px,3rem,300px)!important
}

.f2-2-1-xs,.f2-2-2-xs {
    line-height: .85!important;
    letter-spacing: 0!important
}

.f2-2-2-xs {
    font-size: false;
    font-size: clamp(10px,2.7777777778rem,300px)!important
}

.f2-2-xs {
    font-size: false;
    font-size: clamp(10px,2.3888888889rem,300px)!important;
    line-height: .85!important;
    letter-spacing: .005em!important
}

.f3-xs {
    font-size: false;
    font-size: clamp(10px,2.2222222222rem,300px)!important;
    line-height: .93!important
}

.f3-2-xs,.f3-xs {
    letter-spacing: -.02em!important
}

.f3-2-xs {
    font-size: false;
    font-size: clamp(10px,2rem,300px)!important;
    line-height: .85!important
}

.f3-4-xs {
    font-size: false;
    font-size: clamp(10px,1.7777777778rem,300px)!important
}

.f3-3-xs,.f3-4-xs {
    line-height: .85!important;
    letter-spacing: 0!important
}

.f3-3-xs {
    font-size: false;
    font-size: clamp(10px,1.6666666667rem,300px)!important
}

.f4-xs {
    font-size: false;
    font-size: clamp(10px,1.3333333333rem,300px)!important
}

.f4-xs,.f5-xs {
    line-height: .93!important;
    letter-spacing: .02em!important
}

.f5-xs {
    font-size: false;
    font-size: clamp(20px,1.1111111111rem,24px)!important
}

.f6-xs {
    line-height: .93!important;
    letter-spacing: .02em!important
}

.f6-2-xs,.f6-xs {
    font-size: false;
    font-size: clamp(10px,.8888888889rem,300px)!important
}

.f6-2-xs {
    line-height: 1.2!important;
    letter-spacing: 0!important
}

.f7-xs {
    font-size: false;
    font-size: clamp(10px,.7777777778rem,300px)!important;
    line-height: .93!important;
    letter-spacing: -.02em!important
}

.f8-xs {
    letter-spacing: .02em!important
}

.f8-1-xs,.f8-xs {
    font-size: false;
    font-size: clamp(12px,.6666666667rem,16px)!important;
    line-height: .93!important
}

.f8-1-xs {
    letter-spacing: -.02em!important
}

.f9-xs {
    font-size: false;
    font-size: clamp(12px,.8751400224rem,500px)!important;
    line-height: .98!important;
    letter-spacing: -.025em!important
}
@media(min-width: 576px) {
    .f1-1 {
        font-size:false;
        font-size: clamp(12px,11.876900304rem,500px)
    }

    .f1-1,.f1-2 {
        line-height: .85;
        letter-spacing: 0
    }

    .f1-2 {
        font-size: false;
        font-size: clamp(12px,10.7517202752rem,500px)
    }

    .f1 {
        font-size: false;
        font-size: clamp(12px,8.751400224rem,500px);
        line-height: .93;
        letter-spacing: .02em
    }

    .f2-1 {
        font-size: false;
        font-size: clamp(12px,7.501200192rem,500px);
        line-height: .85;
        letter-spacing: 0
    }

    .f2 {
        font-size: false;
        font-size: clamp(12px,7.2511601856rem,500px)
    }

    .f2,.f3 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f3 {
        font-size: false;
        font-size: clamp(100px,6.25100016rem,90px)
    }

    .f3-1,.f3-2 {
        font-size: false;
        font-size: clamp(12px,5.7509201472rem,500px);
        line-height: .85
    }

    .f3-1,.f3-2,.f3-3 {
        letter-spacing: -.005em
    }

    .f3-3 {
        font-size: false;
        font-size: clamp(12px,5.5008801408rem,500px)
    }

    .f3-3,.f4 {
        line-height: .93
    }

    .f4 {
        font-size: false;
        font-size: clamp(12px,5.313350136rem,500px);
        letter-spacing: -.02em
    }

    .f4-2 {
        font-size: false;
        font-size: clamp(12px,4.68825012rem,500px);
        line-height: .85;
        letter-spacing: 0
    }

    .f5 {
        font-size: false;
        font-size: clamp(12px,4.8757801248rem,500px)
    }

    .f5,.f5-1 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f5-1 {
        font-size: false;
        font-size: clamp(12px,4.2506801088rem,500px)
    }

    .f6 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f6,.f6-2 {
        font-size: false;
        font-size: clamp(12px,4.0006401024rem,500px)
    }

    .f6-2 {
        line-height: .85;
        letter-spacing: 0
    }

    .f6-1 {
        font-size: false;
        font-size: clamp(12px,3.12550008rem,500px)
    }

    .f6-1,.f7 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f7 {
        font-size: false;
        font-size: clamp(12px,2.500400064rem,500px)
    }

    .f8 {
        font-size: false;
        font-size: clamp(12px,2.2503600576rem,500px)
    }

    .f8,.f9 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f9 {
        font-size: false;
        font-size: clamp(12px,2.0628300528rem,500px)
    }

    .f9-1 {
        font-size: false;
        font-size: clamp(12px,2.0003200512rem,500px)
    }

    .f9-1,.f10 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f10 {
        font-size: false;
        font-size: clamp(20px,1.5002400384rem,32px)
    }

    .f10-1 {
        font-size: false;
        font-size: clamp(20px,1.250200032rem,26px);
        line-height: .93;
        letter-spacing: .02em
    }

    .f10-2 {
        line-height: .98;
        letter-spacing: -.025em
    }

    .f10-2,.f10-3 {
        font-size: false;
        font-size: clamp(12px,1.0006404099rem,300px)
    }

    .f10-3 {
        line-height: 1.2;
        letter-spacing: 0
    }

    .f10-4 {
        font-size: false;
        font-size: clamp(12px,1.0006404099rem,300px)
    }

    .f10-4,.f10-5 {
        line-height: .93;
        letter-spacing: -.02em
    }

    .f10-5 {
        font-size: false;
        font-size: clamp(12px,1.5002400384rem,500px)
    }

    .f11 {
        font-size: false;
        font-size: clamp(12px,1.1251800288rem,500px);
        letter-spacing: .02em
    }

    .f11,.f12 {
        line-height: .93
    }

    .f12 {
        font-size: false;
        font-size: clamp(16px,1.0001600256rem,20px);
        letter-spacing: 0
    }

    .f1-1-sm {
        font-size: false;
        font-size: clamp(12px,11.876900304rem,500px)!important
    }

    .f1-1-sm,.f1-2-sm {
        line-height: .85!important;
        letter-spacing: 0!important
    }

    .f1-2-sm {
        font-size: false;
        font-size: clamp(12px,10.7517202752rem,500px)!important
    }

    .f1-sm {
        font-size: false;
        font-size: clamp(12px,8.751400224rem,500px)!important;
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f2-1-sm {
        font-size: false;
        font-size: clamp(12px,7.501200192rem,500px)!important;
        line-height: .85!important;
        letter-spacing: 0!important
    }

    .f2-sm {
        font-size: false;
        font-size: clamp(12px,7.2511601856rem,500px)!important
    }

    .f2-sm,.f3-sm {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f3-sm {
        font-size: false;
        font-size: clamp(100px,6.25100016rem,90px)!important
    }

    .f3-1-sm,.f3-2-sm {
        font-size: false;
        font-size: clamp(12px,5.7509201472rem,500px)!important;
        line-height: .85!important
    }

    .f3-1-sm,.f3-2-sm,.f3-3-sm {
        letter-spacing: -.005em!important
    }

    .f3-3-sm {
        font-size: false;
        font-size: clamp(12px,5.5008801408rem,500px)!important
    }

    .f3-3-sm,.f4-sm {
        line-height: .93!important
    }

    .f4-sm {
        font-size: false;
        font-size: clamp(12px,5.313350136rem,500px)!important;
        letter-spacing: -.02em!important
    }

    .f4-2-sm {
        font-size: false;
        font-size: clamp(12px,4.68825012rem,500px)!important;
        line-height: .85!important;
        letter-spacing: 0!important
    }

    .f5-sm {
        font-size: false;
        font-size: clamp(12px,4.8757801248rem,500px)!important
    }

    .f5-1-sm,.f5-sm {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f5-1-sm {
        font-size: false;
        font-size: clamp(12px,4.2506801088rem,500px)!important
    }

    .f6-sm {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f6-2-sm,.f6-sm {
        font-size: false;
        font-size: clamp(12px,4.0006401024rem,500px)!important
    }

    .f6-2-sm {
        line-height: .85!important;
        letter-spacing: 0!important
    }

    .f6-1-sm {
        font-size: false;
        font-size: clamp(12px,3.12550008rem,500px)!important
    }

    .f6-1-sm,.f7-sm {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f7-sm {
        font-size: false;
        font-size: clamp(12px,2.500400064rem,500px)!important
    }

    .f8-sm {
        font-size: false;
        font-size: clamp(12px,2.2503600576rem,500px)!important
    }

    .f8-sm,.f9-sm {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f9-sm {
        font-size: false;
        font-size: clamp(12px,2.0628300528rem,500px)!important
    }

    .f9-1-sm {
        font-size: false;
        font-size: clamp(12px,2.0003200512rem,500px)!important
    }

    .f9-1-sm,.f10-sm {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f10-sm {
        font-size: false;
        font-size: clamp(20px,1.5002400384rem,32px)!important
    }

    .f10-1-sm {
        font-size: false;
        font-size: clamp(20px,1.250200032rem,26px)!important;
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f10-2-sm {
        line-height: .98!important;
        letter-spacing: -.025em!important
    }

    .f10-2-sm,.f10-3-sm {
        font-size: false;
        font-size: clamp(12px,1.0006404099rem,300px)!important
    }

    .f10-3-sm {
        line-height: 1.2!important;
        letter-spacing: 0!important
    }

    .f10-4-sm {
        font-size: false;
        font-size: clamp(12px,1.0006404099rem,300px)!important
    }

    .f10-4-sm,.f10-5-sm {
        line-height: .93!important;
        letter-spacing: -.02em!important
    }

    .f10-5-sm {
        font-size: false;
        font-size: clamp(12px,1.5002400384rem,500px)!important
    }

    .f11-sm {
        font-size: false;
        font-size: clamp(12px,1.1251800288rem,500px)!important;
        letter-spacing: .02em!important
    }

    .f11-sm,.f12-sm {
        line-height: .93!important
    }

    .f12-sm {
        font-size: false;
        font-size: clamp(16px,1.0001600256rem,20px)!important;
        letter-spacing: 0!important
    }
}

@media(min-width: 1080px) {
    .f1 {
        font-size:false;
        font-size: clamp(12px,7.004482869rem,300px)
    }

    .f1,.f2 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f2 {
        font-size: false;
        font-size: clamp(12px,5.8037143772rem,300px)
    }

    .f3 {
        font-size: false;
        font-size: clamp(12px,5.0032020493rem,300px);
        letter-spacing: .02em
    }

    .f3,.f4 {
        line-height: .93
    }

    .f4 {
        font-size: false;
        font-size: clamp(12px,4.2527217419rem,300px);
        letter-spacing: -.02em
    }

    .f4-2 {
        font-size: false;
        font-size: clamp(12px,3.752401537rem,300px);
        line-height: .85;
        letter-spacing: 0
    }

    .f5 {
        font-size: false;
        font-size: clamp(12px,3.9024975985rem,300px)
    }

    .f5,.f6 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f6 {
        font-size: false;
        font-size: clamp(12px,3.2020493116rem,300px)
    }

    .f6-1 {
        font-size: false;
        font-size: clamp(12px,2.5016010247rem,300px)
    }

    .f6-1,.f7 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f7 {
        font-size: false;
        font-size: clamp(12px,2.0012808197rem,300px)
    }

    .f8 {
        font-size: false;
        font-size: clamp(12px,1.5009606148rem,300px)
    }

    .f8,.f9 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f9 {
        font-size: false;
        font-size: clamp(12px,1.6510566763rem,300px)
    }

    .f9-1 {
        font-size: false;
        font-size: clamp(12px,1.6010246558rem,300px)
    }

    .f9-1,.f10 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f10 {
        font-size: false;
        font-size: clamp(12px,1.2007684918rem,300px)
    }

    .f10-1 {
        font-size: false;
        font-size: clamp(20px,1.0006404099rem,26px)
    }

    .f10-1,.f11 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f11 {
        font-size: false;
        font-size: clamp(12px,.5503522254rem,300px)
    }

    .f12 {
        font-size: false;
        font-size: clamp(16px,.8005123279rem,20px);
        line-height: .93;
        letter-spacing: 0
    }

    .f1-lg {
        font-size: false;
        font-size: clamp(12px,7.004482869rem,300px)!important
    }

    .f1-lg,.f2-lg {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f2-lg {
        font-size: false;
        font-size: clamp(12px,5.8037143772rem,300px)!important
    }

    .f3-lg {
        font-size: false;
        font-size: clamp(12px,5.0032020493rem,300px)!important;
        letter-spacing: .02em!important
    }

    .f3-lg,.f4-lg {
        line-height: .93!important
    }

    .f4-lg {
        font-size: false;
        font-size: clamp(12px,4.2527217419rem,300px)!important;
        letter-spacing: -.02em!important
    }

    .f4-2-lg {
        font-size: false;
        font-size: clamp(12px,3.752401537rem,300px)!important;
        line-height: .85!important;
        letter-spacing: 0!important
    }

    .f5-lg {
        font-size: false;
        font-size: clamp(12px,3.9024975985rem,300px)!important
    }

    .f5-lg,.f6-lg {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f6-lg {
        font-size: false;
        font-size: clamp(12px,3.2020493116rem,300px)!important
    }

    .f6-1-lg {
        font-size: false;
        font-size: clamp(12px,2.5016010247rem,300px)!important
    }

    .f6-1-lg,.f7-lg {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f7-lg {
        font-size: false;
        font-size: clamp(12px,2.0012808197rem,300px)!important
    }

    .f8-lg {
        font-size: false;
        font-size: clamp(12px,1.5009606148rem,300px)!important
    }

    .f8-lg,.f9-lg {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f9-lg {
        font-size: false;
        font-size: clamp(12px,1.6510566763rem,300px)!important
    }

    .f9-1-lg {
        font-size: false;
        font-size: clamp(12px,1.6010246558rem,300px)!important
    }

    .f9-1-lg,.f10-lg {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f10-lg {
        font-size: false;
        font-size: clamp(12px,1.2007684918rem,300px)!important
    }

    .f10-1-lg {
        font-size: false;
        font-size: clamp(20px,1.0006404099rem,26px)!important
    }

    .f10-1-lg,.f11-lg {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f11-lg {
        font-size: false;
        font-size: clamp(12px,.5503522254rem,300px)!important
    }

    .f12-lg {
        font-size: false;
        font-size: clamp(16px,.8005123279rem,20px)!important;
        line-height: .93!important;
        letter-spacing: 0!important
    }
}

@media(min-width: 1440px) {
    .f0 {
        font-size:false;
        font-size: clamp(12px,21.3136407301rem,300px);
        line-height: .85;
        letter-spacing: 0
    }

    .f1 {
        font-size: false;
        font-size: clamp(12px,14.0089657381rem,300px);
        line-height: .93;
        letter-spacing: .02em
    }

    .f1-0 {
        font-size: false;
        font-size: clamp(12px,13.6087095741rem,300px)
    }

    .f1-0,.f1-2 {
        line-height: .85;
        letter-spacing: 0
    }

    .f1-2 {
        font-size: false;
        font-size: clamp(12px,13.0083253282rem,300px)
    }

    .f1-4 {
        font-size: false;
        font-size: clamp(12px,11.6074287544rem,300px);
        letter-spacing: .02em
    }

    .f1-1,.f1-4 {
        line-height: .85
    }

    .f1-1 {
        font-size: false;
        font-size: clamp(12px,11.4073006724rem,300px)
    }

    .f1-1,.f1-3 {
        letter-spacing: -.001em
    }

    .f1-3 {
        font-size: false;
        font-size: clamp(12px,10.8069164265rem,300px);
        line-height: .85
    }

    .f2 {
        letter-spacing: -.02em
    }

    .f2,.f2-2 {
        font-size: false;
        font-size: clamp(12px,10.0064040986rem,300px);
        line-height: .85
    }

    .f2-2 {
        letter-spacing: 0
    }

    .f3 {
        font-size: false;
        font-size: clamp(12px,9.5060838937rem,300px);
        letter-spacing: .02em
    }

    .f3,.f3-custom {
        line-height: .93
    }

    .f3-custom {
        font-size: false;
        font-size: clamp(12px,8.6555395453rem,300px);
        letter-spacing: .027em
    }

    .f3-1 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f3-1,.f3-2 {
        font-size: false;
        font-size: clamp(12px,8.0051232789rem,300px)
    }

    .f3-2 {
        line-height: .85;
        letter-spacing: 0
    }

    .f4 {
        font-size: false;
        font-size: clamp(12px,6.3040345821rem,300px)
    }

    .f4,.f4-1 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f4-1 {
        font-size: false;
        font-size: clamp(12px,5.0032020493rem,300px)
    }

    .f4-2 {
        font-size: false;
        font-size: clamp(12px,3.9024975985rem,300px)
    }

    .f4-2,.f5 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f5 {
        font-size: false;
        font-size: clamp(12px,3.5022414345rem,300px)
    }

    .f6 {
        font-size: false;
        font-size: clamp(12px,3.2020493116rem,300px)
    }

    .f6,.f7 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f7 {
        font-size: false;
        font-size: clamp(12px,3.0019212296rem,300px)
    }

    .f7-1 {
        font-size: false;
        font-size: clamp(12px,2.4015369837rem,300px)
    }

    .f7-1,.f8 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f8 {
        font-size: false;
        font-size: clamp(12px,2.3014729427rem,300px)
    }

    .f8-1 {
        font-size: false;
        font-size: clamp(12px,2.2514409222rem,300px);
        line-height: .95
    }

    .f8-1,.f9 {
        letter-spacing: .02em
    }

    .f9 {
        line-height: .93
    }

    .f9,.f9-2 {
        font-size: false;
        font-size: clamp(12px,2.0012808197rem,300px)
    }

    .f9-2 {
        line-height: .82;
        letter-spacing: -.025em
    }

    .f10 {
        font-size: false;
        font-size: clamp(12px,1.8011527378rem,300px)
    }

    .f10,.f10-1 {
        line-height: .93;
        letter-spacing: .02em
    }

    .f10-1 {
        font-size: false;
        font-size: clamp(12px,1.6510566763rem,300px)
    }

    .f10-2 {
        font-size: false;
        font-size: clamp(12px,1.6010246558rem,300px);
        line-height: .93
    }

    .f10-2,.f10-2-1 {
        letter-spacing: .02em
    }

    .f10-2-1 {
        font-size: false;
        font-size: clamp(12px,1.5009606148rem,300px);
        line-height: .94
    }

    .f10-3 {
        letter-spacing: -.025em
    }

    .f10-3,.f10-4 {
        font-size: false;
        font-size: clamp(12px,1.3008325328rem,300px);
        line-height: .98
    }

    .f10-4,.f10-5 {
        letter-spacing: .01em
    }

    .f10-5 {
        font-size: false;
        font-size: clamp(12px,1.2007684918rem,300px);
        line-height: 1
    }

    .f11 {
        font-size: false;
        font-size: clamp(12px,1.0006404099rem,300px);
        line-height: .93;
        letter-spacing: -.025em
    }

    .f0-xl {
        font-size: false;
        font-size: clamp(12px,21.3136407301rem,300px)!important;
        line-height: .85!important;
        letter-spacing: 0!important
    }

    .f1-xl {
        font-size: false;
        font-size: clamp(12px,14.0089657381rem,300px)!important;
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f1-0-xl {
        font-size: false;
        font-size: clamp(12px,13.6087095741rem,300px)!important
    }

    .f1-0-xl,.f1-2-xl {
        line-height: .85!important;
        letter-spacing: 0!important
    }

    .f1-2-xl {
        font-size: false;
        font-size: clamp(12px,13.0083253282rem,300px)!important
    }

    .f1-4-xl {
        font-size: false;
        font-size: clamp(12px,11.6074287544rem,300px)!important;
        letter-spacing: .02em!important
    }

    .f1-1-xl,.f1-4-xl {
        line-height: .85!important
    }

    .f1-1-xl {
        font-size: false;
        font-size: clamp(12px,11.4073006724rem,300px)!important
    }

    .f1-1-xl,.f1-3-xl {
        letter-spacing: -.001em!important
    }

    .f1-3-xl {
        font-size: false;
        font-size: clamp(12px,10.8069164265rem,300px)!important;
        line-height: .85!important
    }

    .f2-xl {
        letter-spacing: -.02em!important
    }

    .f2-2-xl,.f2-xl {
        font-size: false;
        font-size: clamp(12px,10.0064040986rem,300px)!important;
        line-height: .85!important
    }

    .f2-2-xl {
        letter-spacing: 0!important
    }

    .f3-xl {
        font-size: false;
        font-size: clamp(12px,9.5060838937rem,300px)!important;
        letter-spacing: .02em!important
    }

    .f3-custom-xl,.f3-xl {
        line-height: .93!important
    }

    .f3-custom-xl {
        font-size: false;
        font-size: clamp(12px,8.6555395453rem,300px)!important;
        letter-spacing: .027em!important
    }

    .f3-1-xl {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f3-1-xl,.f3-2-xl {
        font-size: false;
        font-size: clamp(12px,8.0051232789rem,300px)!important
    }

    .f3-2-xl {
        line-height: .85!important;
        letter-spacing: 0!important
    }

    .f4-xl {
        font-size: false;
        font-size: clamp(12px,6.3040345821rem,300px)!important
    }

    .f4-1-xl,.f4-xl {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f4-1-xl {
        font-size: false;
        font-size: clamp(12px,5.0032020493rem,300px)!important
    }

    .f4-2-xl {
        font-size: false;
        font-size: clamp(12px,3.9024975985rem,300px)!important
    }

    .f4-2-xl,.f5-xl {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f5-xl {
        font-size: false;
        font-size: clamp(12px,3.5022414345rem,300px)!important
    }

    .f6-xl {
        font-size: false;
        font-size: clamp(12px,3.2020493116rem,300px)!important
    }

    .f6-xl,.f7-xl {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f7-xl {
        font-size: false;
        font-size: clamp(12px,3.0019212296rem,300px)!important
    }

    .f7-1-xl {
        font-size: false;
        font-size: clamp(12px,2.4015369837rem,300px)!important
    }

    .f7-1-xl,.f8-xl {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f8-xl {
        font-size: false;
        font-size: clamp(12px,2.3014729427rem,300px)!important
    }

    .f8-1-xl {
        font-size: false;
        font-size: clamp(12px,2.2514409222rem,300px)!important;
        line-height: .95!important
    }

    .f8-1-xl,.f9-xl {
        letter-spacing: .02em!important
    }

    .f9-xl {
        line-height: .93!important
    }

    .f9-2-xl,.f9-xl {
        font-size: false;
        font-size: clamp(12px,2.0012808197rem,300px)!important
    }

    .f9-2-xl {
        line-height: .82!important;
        letter-spacing: -.025em!important
    }

    .f10-xl {
        font-size: false;
        font-size: clamp(12px,1.8011527378rem,300px)!important
    }

    .f10-1-xl,.f10-xl {
        line-height: .93!important;
        letter-spacing: .02em!important
    }

    .f10-1-xl {
        font-size: false;
        font-size: clamp(12px,1.6510566763rem,300px)!important
    }

    .f10-2-xl {
        font-size: false;
        font-size: clamp(12px,1.6010246558rem,300px)!important;
        line-height: .93!important
    }

    .f10-2-1-xl,.f10-2-xl {
        letter-spacing: .02em!important
    }

    .f10-2-1-xl {
        font-size: false;
        font-size: clamp(12px,1.5009606148rem,300px)!important;
        line-height: .94!important
    }

    .f10-3-xl {
        letter-spacing: -.025em!important
    }

    .f10-3-xl,.f10-4-xl {
        font-size: false;
        font-size: clamp(12px,1.3008325328rem,300px)!important;
        line-height: .98!important
    }

    .f10-4-xl,.f10-5-xl {
        letter-spacing: .01em!important
    }

    .f10-5-xl {
        font-size: false;
        font-size: clamp(12px,1.2007684918rem,300px)!important;
        line-height: 1!important
    }

    .f11-xl {
        font-size: false;
        font-size: clamp(12px,1.0006404099rem,300px)!important;
        line-height: .93!important;
        letter-spacing: -.025em!important
    }
}
