@font-face {
    font-family: "PPFormula-CondensedRegular";
    font-display: block;
    src: url("/fonts/PPFormula-CondensedRegular.woff2") format("woff2"),
        url("/fonts/PPFormula-CondensedRegular.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "PPFormula-CondensedBold";
    font-display: block;
    src: url("/fonts/PPFormula-CondensedBold.woff2") format("woff2"),
        url("/fonts/PPFormula-CondensedBold.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "FoundersGrotesk-Regular";
    font-display: block;
    src: url("/fonts/FoundersGrotesk-Regular.woff2") format("woff2"),
        url("/fonts/FoundersGrotesk-Regular.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "FoundersGrotesk-Bold";
    font-display: block;
    src: url("/fonts/FoundersGrotesk-Bold.woff2") format("woff2"),
        url("/fonts/FoundersGrotesk-Bold.woff") format("woff");
    font-style: normal;
}

@font-face {
    font-family: "FoundersGrotesk-Semibold";
    font-display: block;
    src: url("/fonts/FoundersGrotesk-Semibold.woff2") format("woff2"),
        url("/fonts/FoundersGrotesk-Semibold.woff") format("woff");
    font-style: normal;
}