@import "./fonts.css";
@import "./reset.css";
@import "./font_sizes.css";
@import "./colors.css";
:root {
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1080px;
	--breakpoint-xl: 1440px;
	--breakpoint-xxl: 1600px;
	--breakpoint-xxxl: 1800px;
	--font-family-sans-serif: "FoundersGrotesk-Regular";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --vh: 1vh;
    --vw: 1vw;
    --vmax: 1vmax;
    --vmin: 1vmin;	
    --font-size: 4.8vw; /* 20.64px when viewport width is 430px, 34.56px when 720px, etc. */
    --font-size-sm: 2.083vw;
    --font-size-xl: 1.041vw;
    --nav-pt: .75rem; /* padding-top */
    --nav-pr: .875rem;
    --nav-pb: .75rem;
    --nav-pl: .875rem;
}
@media (min-width: 320px) {
  :root {
    --font-16px-36px: calc(1rem + ((1vw - 3.2px) * 1.7857));
    --popup-button-height-width:calc(6.25rem + ((1vw - 3.2px) * 8.9286));;
    --popup-button-text-font-size:calc(1.75rem + ((1vw - 3.2px) * 0.7143));
    min-height: 0vw;
  }
}
@media (min-width: 1440px) {
  :root {
    --font-16px-36px: 36px;
    --popup-button-height--width:200px;
    --popup-button-text-font-size: 36px;
  }
}

body{
    background-color: var(--black3);
    font-family: FoundersGrotesk-Regular, sans-serif;
    color: var(--white);
}
.navigation{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    font-family: PPFormula-CondensedBold, sans-serif;
    font-weight: 600;   
    text-transform: uppercase;
    font-size: var(--font-16px-36px);
    cursor: pointer;
}
.top-right, .top-left{
    color: var(--white);
}
.top-left{
    --brand-font-size:var(--font-16px-36px);
    --middle-brand-x-pos: 16px;
}
.middle-brand-x{
    font-size: calc(var(--brand-font-size) - 8px);
    display: inline-block;
    width: calc(var(--brand-font-size) - 10px);
}
.middle-brand-x span{
    position: absolute;
    top: var(--middle-brand-x-pos);
}
.popup-button{
    height: var(--popup-button-height-width);
    width: var(--popup-button-height-width);
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-image: url("../img/popup_button.svg");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.large-screen{
    display: none;
  }
  .text-wrapper {
    text-align: center;
    font-family: PPFormula-CondensedBold, sans-serif;
    font-size: var(--popup-button-text-font-size);
  }
.text-wrapper h6{
    text-transform: uppercase;
    color:var(--red4);
}
.text-wrapper h5{
    text-transform: lowercase;
    color: var(--red);
}
@media (min-width: 576px) {
  .large-screen{
    display: block;
  }
  .small-screen {
    display: none;
  }
}