@import "./fonts.css";
@import "./reset.css";
@import "./font_sizes.css";
@import "./colors.css";

@media (min-width: 320px) {
  :root {
    --font-16px-25px: calc(1rem + ((1vw - 3.2px) * 0.8036));
    --popup-button-height-width:calc(6.25rem + ((1vw - 3.2px) * 8.9286));;
    --popup-button-text-font-size:calc(1.75rem + ((1vw - 3.2px) * 0.7143));
    --f-88px-235px: calc(5.5rem + ((1vw - 3.2px) * 13.125));
    min-height: 0vw;
  }
}
@media (min-width: 1440px) {
  :root {
    --font-16px-25px: 25px;
    --popup-button-height--width:200px;
    --popup-button-text-font-size: 36px;
    --f-88px-235px: 235px;
  }
}

body{
    background-color: var(--black3);
    font-family: FoundersGrotesk-Regular, sans-serif;
    color: var(--white);
}
.navigation{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    font-family: PPFormula-CondensedBold, sans-serif;
    font-weight: 600;   
    text-transform: uppercase;
    font-size: var(--font-16px-25px);
    cursor: pointer;
}
.top-right, .top-left{
    color: var(--white);
}
.middle-brand-x{
    display: inline-block;
}
.popup-button{
    height: var(--popup-button-height-width);
    width: var(--popup-button-height-width);
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-image: url("../img/popup_button.svg");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 0 0;
    transform: rotate(-23deg);
}
.large-screen{
    display: none;
  }
  .text-wrapper {
    text-align: center;
    font-family: PPFormula-CondensedBold, sans-serif;
    font-size: var(--popup-button-text-font-size);
  }
.red-uppercase{
    text-transform: uppercase;
    color:var(--red4);
}
.red-lowercase{
    text-transform: lowercase;
    color: var(--red);
}
.section-title-container{
    display: flex;
    flex-direction: column;
    font-family: PPFormula-CondensedBold, sans-serif;
    margin: 3.5rem auto 2rem auto;
}
.section-title-primary {
    font-size: var(--f-88px-235px);
    text-transform: uppercase;
    text-align: center;
}
.section-title-secondary{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    margin: -19px 1rem 1rem 1rem;
    font-size: var(--font-16px-25px);
}
@media (min-width: 576px) {
  .large-screen{
    display: block;
  }
  .popup-button{
    right: unset;
    left: 1rem;
  }
  .small-screen {
    display: none;
  }
  .section-title-container{
    margin-top: 2rem;
  }
}
@media (min-width:1024px){
      .section-title-secondary{
        margin: -50px 0px 1rem 0px;
      }
}
@media (min-width:1440px){
      .section-title-secondary{
        margin-top: -60px;
      }
}